* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(250, 241, 229);
    min-width: 425px;
}

/* BANNER */

.banner {
    height: 10vh; 
}

.banner > img {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 10vh
}

/* NAV */
.navContainer {
    position: sticky;
    top: 0px;
    background-color:rgb(77, 162, 164) ;
    z-index: 100; 
}

.navList {
    display: flex;
    flex-flow: row;
    list-style: none; 
    justify-content: center;
}

.navList li {
    flex: 1;
    display: flex;
    /* Formula only works to align nav to central content when main is centralized
        ( W - 2*(m+p) / n)
         W: max-width of main element
         m: margin on one side of main
         p: padding on one side of main
         n: number of list items
    */

    max-width: calc((1200px - 4em) / 3);
    text-align: center;
    align-items: center;
    justify-content: center; 
    background-color:rgb(88, 181, 183);
}

.navList li:hover {
    background-color:rgb(77, 162, 164) ;
}

.navList li a {
    font-size: 1.3rem;
    padding: .4em;
    text-decoration: none;
    color: white;    
    overflow-wrap: break-word;
}

/* MAIN */
main,
.feedStructure {
    padding: 0 2em;
    /*Max-width here should be the same as the limit */
    max-width: 1200px;
    width: 100%;
}

.columnFlexContainer{
    display: flex;
    flex-flow: column nowrap; 
}

main{
    align-self: center; 
}

.pageInfoContainer {
    padding: 2em 0;
}

.pageTitle {
    margin-bottom: 2rem;
    white-space: nowrap;
    display: block;
    text-align: center;
}

.pageBody {
    font-size: 1.2em;
}

/* FOOTER */
footer {
    background-color: rgb(77, 162, 164);
    color: rgb(236, 236, 236);  
    display: flex;
    flex-flow: column nowrap; 
    align-items: center;
}

footer > h2 {
    padding: 1rem;
}

footer > div {
    display: flex;
    flex-flow: row;
    margin-bottom: 1.5rem;
    justify-content: center;
}

footer > div a {
    max-width: 85px;
    margin: 0 7vw ;
}

footer > div img {
    align-self: center;
    flex: 1;
    max-width: 85px;
}