/* General */
section p {
    margin: .5rem 0;
}

main > section > div {
    padding-left: .5rem;
}

main img {
    width: 100%
}

section > h2 {
    margin-bottom: 1rem;
}

/* OVER THE FOLD */
.pageTitle{
    text-decoration: underline;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.articleLabels {
    /* Tinker with value*/
    font-weight:400;
}

.articleLabels > p {
    display: inline-block;
    width:fit-content;
    margin-bottom: 0;
}

.articleLabels > a {
    display: block;
    margin-bottom: .5rem;
}

.articleLabels > p:last-of-type {
    float: right;
    margin-left: 6vw;
}

/* SECTIONS */
/* Sections that arent first*/
section:nth-child(n+2) {
    margin-bottom: 2rem;
}

/* Bullet point styling */
.pageBody > ul {
    list-style-position: outside;
    padding-left: 3rem;
}

.pageBody > ul li {
    padding-left: 1rem;
}

/* IMAGES */
.figureBG {
    padding: 10px;
    background-color:rgb(247, 234, 216);
    width: 100%;
}

.figureBG > p {
    margin-top: 10px;
    font-size: 1.0rem;
    font-weight: 400;
}

.figureContainer {
    object-fit: cover;
    overflow: hidden;
}

.figureContainer img {
    max-height: 50vh;
    object-fit: contain;
}

